/* styling! change backgrounds and colors and such up here. */

u {
    text-decoration: dashed underline 1px; /*this makes underlines a dashed line instead of a solid one. delete this bit if you want them to be normal.*/
}

ul {
    list-style: "➢ "; /*this is the custom bullet point for lists. change or delete it if you prefer!*/
}

a {
    font-weight: bold;
    color: darkred;
}

a:hover, a:focus {
    color: red;
}

header {
    background-image: url(https://i.postimg.cc/VsqLmhkc/orangesmear.jpg);
    font-family: 'Frijole', sans-serif;
    color: #fef4c7;
}

ul {
    list-style: "➢ "; /*this is the custom bullet point for lists. change or delete it if you prefer!*/
}
.sidebar {
    /*background-image: url("/light_green_texture.jpg")*/
    background-image: url(https://i.postimg.cc/BQJZ6CjP/Ricppr.gif);
}

.sidebar li {
    border-color: #cc6600;
    background-color: orange;
}



/*down here is the rest of the code. you can change whatever you want down there as well.*/

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Frijole', sans-serif;
    background-image: url("/yellow_background_tile.png");
}

h1 {
    margin: 0;
    font-size: 40pt;
    text-align: center;
    font-weight: normal;
}

header {
    border-bottom: ridge 4px;
    height: 80px;
    margin-left: 220px;
}

footer {
    margin-left: 260px;
}

.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    border-right: ridge 4px;
    text-align: center;
    overflow: hidden;
}

.sidebarinner {
    scrollbar-width: thin;
    height: calc(100% - 150px);
}

.sidebar ul {
    padding: 0;
    list-style-position: inside;
    font-size: 14pt;
}

.sidebar li {
    border-style: outset;
    border-width: 10px;
    padding: 5px;
    width: 85%;
    margin: auto;
}

.main {
    }

.main_content {
    max-width:900px;
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    font-size: 18px;
}

.page {
    padding: 20px;
    height: 100%;
    overflow: auto;
    margin-bottom: 2000px;
}

.layout {
  margin-left:220px;
  gap: 5rem;
}

.figure_img {
  max-width: 480px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 40px;
}

