<!--this is the sidebar!-->
<aside class="sidebar">

<!--this is the content of the rest of the sidebar. you can put whatever you want!-->
<div class="sidebarinner">

<h2>Navigation</h2>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/rants/">Rants</a></li>
<li><a href="/">Reviews</a></li>
<li><a href="/">Photos</a></li>
<li><a href="/">Complaint Department</a></li>
</ul>

<h2>Cool Sites</h2>
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a>
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 
<a href=""><img src="https://i.postimg.cc/RCDGCgsX/buttonplaceholder.png"></a> 

</div>
</aside>
